/*
 *  TYPOGRAPHY
 */
:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1, h2, h3, h4, form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* heading sizes */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1, .text--xxl {
  font-size: var(--text-xxl);
}

h2, .text--xl {
  font-size: var(--text-xl);
}

h3, .text--lg {
  font-size: var(--text-lg);
}

h4, .text--md {
  font-size: var(--text-md);
}

small, .text--sm {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul li, ol li {
  line-height: var(--body-line-height);
}

/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root {
  --space-unit: 1em;
  --space-xxs:  calc(0.25 * var(--space-unit));
  --space-xs:   calc(0.5 * var(--space-unit));
  --space-sm:   calc(0.75 * var(--space-unit));
  --space-md:   calc(1.25 * var(--space-unit));
  --space-lg:   calc(2 * var(--space-unit));
  --space-xl:   calc(3.25 * var(--space-unit));
  --space-xxl:  calc(5.25 * var(--space-unit));
  /* components padding */
  --component-padding: var(--space-sm);
}

/* vertical margins */
.margin-top, .margin-top--md {
  margin-top: var(--space-md);
}

.margin-top--sm {
  margin-top: var(--space-sm);
}

.margin-top--lg {
  margin-top: var(--space-lg);
}

.margin-top--xl {
  margin-top: var(--space-xl);
}

.margin-top--xxl {
  margin-top: var(--space-xxl);
}

.margin-bottom, .margin-bottom--md {
  margin-bottom: var(--space-md);
}

.margin-bottom--sm {
  margin-bottom: var(--space-sm);
}

.margin-bottom--lg {
  margin-bottom: var(--space-lg);
}

.margin-bottom--xl {
  margin-bottom: var(--space-xl);
}

.margin-bottom--xxl {
  margin-bottom: var(--space-xxl);
}

:root {
  --grid-gap: var(--space-sm);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1);
}

.col {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  flex-basis: 100%;
}

.col--1 {
  flex-basis: round-width(1);
  max-width: round-width(1);
}

.col--2 {
  flex-basis: round-width(2);
  max-width: round-width(2);
}

.col--3 {
  flex-basis: round-width(3);
  max-width: round-width(3);
}

.col--4 {
  flex-basis: round-width(4);
  max-width: round-width(4);
}

.col--5 {
  flex-basis: round-width(5);
  max-width: round-width(5);
}

.col--6 {
  flex-basis: round-width(6);
  max-width: round-width(6);
}

.col--7 {
  flex-basis: round-width(7);
  max-width: round-width(7);
}

.col--8 {
  flex-basis: round-width(8);
  max-width: round-width(8);
}

.col--9 {
  flex-basis: round-width(9);
  max-width: round-width(9);
}

.col--10 {
  flex-basis: round-width(10);
  max-width: round-width(10);
}

.col--11 {
  flex-basis: round-width(11);
  max-width: round-width(11);
}

.col--12 {
  flex-basis: round-width(12);
  max-width: round-width(12);
}

:root {
  /* main colors */
  --color-primary: #4D84F4;
  --color-primary-light: color-mod(var(--color-primary) tint(15%));
  --color-primary-dark: color-mod(var(--color-primary) shade(15%));
  --color-primary-bg: color-mod(var(--color-primary) alpha(20%));
  --color-accent: #f5414f;
  --color-accent-light: color-mod(var(--color-accent) tint(15%));
  --color-accent-dark: color-mod(var(--color-accent) shade(10%));
  --color-accent-bg: color-mod(var(--color-accent) alpha(20%));
  --black: #1d1d21;
  --grey-10: #2e2e31;
  --grey-6: #7b7a7d;
  --grey-4: #a5a5a6;
  --grey-3: #bbbbbc;
  --grey-2: #d1d0d2;
  --grey-1: #e8e7e8;
  --white: white;
  /* feedback */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;
  /* typography */
  --color-text: var(--grey-10);
  --color-text-heading: var(--black);
  --color-text-subtle: var(--grey-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-mark: var(--color-accent-bg);
  --color-blockquote-border: var(--grey-2);
  /* border */
  --color-border: var(--grey-2);
  /* body */
  --color-body: var(--white);
  /* forms */
  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary);
  --form-element-border-error: var(--color-error);
  --form-element-bg: var(--white);
  --form-text-placeholder: var(--grey-4);
  /* buttons */
  --button-primary-bg: var(--color-primary);
  --button-primary-hover: var(--color-primary-light);
  --button-primary-active: var(--color-primary-dark);
  --button-primary-label: var(--white);
  /* icons */
  --color-icon-primary: var(--grey-4);
  --color-icon-secondary: inherit;
}

/* -------------------------------- 
Buttons
-------------------------------- */
:root {
  --btn-font-size: 1em;
  --btn-sm: calc(var(--btn-font-size) - 0.2em);
  --btn-md: calc(var(--btn-font-size) + 0.2em);
  --btn-lg: calc(var(--btn-font-size) + 0.4em);
  --btn-radius: var(--radius);
}

.btn {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  color: var(--color-link);
  transition: .2s;
}

.btn:active {
  transition: none;
}

.btn .icon {
  /* icon inherits color of button label */
  color: inherit;
  flex-shrink: 0;
}

/* themes */
.btn--primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-label);
}

.btn--primary:visited {
  color: var(--btn-primary-label);
}

.btn--primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn--primary:active {
  background-color: var(--btn-primary-active);
}

.btn--secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-label);
}

.btn--secondary:visited {
  color: var(--btn-secondary-label);
}

.btn--secondary:active {
  background-color: var(--btn-secondary-active);
}

.btn--accent {
  background-color: var(--btn-accent-bg);
  color: var(--btn-accent-label);
}

.btn--accent:visited {
  color: var(--btn-accent-label);
}

.btn--accent:hover {
  background-color: var(--btn-accent-hover);
}

.btn--accent:active {
  background-color: var(--btn-accent-active);
}

/* feedback */
.btn[disabled] {
  cursor: not-allowed;
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-label);
  box-shadow: none;
  opacity: 0.6;
}

.btn[disabled]:visited {
  color: var(--btn-disabled-label);
}

/* button size */
.btn--sm {
  font-size: var(--btn-sm);
}

.btn--md {
  font-size: var(--btn-md);
}

.btn--lg {
  font-size: var(--btn-lg);
}

.btn--full-width {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* buttons group */
.btns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--space-xs));
}

.btns > * {
  margin-right: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.btns > *:last-of-type {
  margin-right: 0;
}
/*# sourceMappingURL=basic-ds.css.map */